@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Poppins:wght@600&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

h1, h2, h3{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
}

.btn{
    border: none;
    outline: none;
    border-radius: 30px;
    padding: 17px 64px;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.8;
}

.btn-header{
    background-color: white;
}

.primary{
    background-color: hsl(322, 100%, 66%);
    color: white;
}

main{
    height: 100vh;
    background: hsl(193, 100%, 96%) url("/assets/images/bg-hero-desktop.svg") no-repeat;
    padding: 36px 59px;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 36px;
}

.logo img{
    height: 26px;
    width: auto;
}

.hero-content{
    display: flex;
    align-items: center;
}

.hero-content .text-info{
    flex: 1;
    padding-right: 70px;
}

.hero-content .text-info p{
    margin: 25px 0;
}

.hero-content .illustration{
    flex: 1;
}

.hero-content .illustration img{
    width: 100%;
}

.features-section{
    padding: 100px 59px 200px 59px;
    position: relative;
}

.feature{
    display: flex;
    height: 400px;
    margin-bottom: 45px;
    padding: 55px 55px 55px 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
}

.feature .text-info{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.feature .text-info h2{
    margin-bottom: 20px;
}

.feature .text-info p{
    color: hsl(208, 11%, 55%);
}

.feature .f-illustration{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.feature .f-illustration img{
   height: 90%;
}

.feature:nth-child(even){
    flex-direction: row-reverse;
}

.feature:nth-child(even) .f-illustration{
    justify-content: flex-start;
}

.cta{
    border-radius: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 50px 0;
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10;
    bottom: -80px;
    left: 50%;
    transform: translateX(-50%);
    margin: auto;
    background-color: white;
}

.cta h2{
    margin-bottom: 20px;
}

footer{
    background-color: hsl(192, 100%, 9%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 150px 70px 70px 70px;
    font-size: 14px;
    position: relative;
}

footer .footer-logo{
    color: white;
    fill: white;
}

footer .contact{
    max-width: 350px;
    width: 100%;
    margin-right: 2rem;
}

footer .contact p{
    margin: 20px 0;
    display: flex;
    align-items: flex-start;
}

footer .contact p img{
    height: 14px;
    margin-right: 15px;
    margin-top: 3px;
}

.footer-section{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}

footer a{
    text-decoration: none;
    color: white;
    margin-bottom: 15px;
}

footer a:hover{
    text-decoration: underline;
}

footer .links{
    display: flex;
    flex-direction: column;
}

footer .socials{
    font-size: 20px;
    align-self: flex-start;
}

footer .socials i{
    border: 1px solid;
    border-radius: 100%;
    padding: 7px 10px 7px 10px;
    
}

.copyright{
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 12px;
}
